{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="min-vh-100 gradient-custom d-flex flex-grow-1 align-items-center">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-7">

                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <div class="mb-md-4 mt-md-4">

                                {{ form_start(resetForm) }}

                                <div class="text-center">
                                    <h2 class="fw-bold mb-4 text-uppercase">{% trans %}Réinitialisation du mot de passe{% endtrans %}</h2>
                                </div>

                                {% for flashError in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}

                                {{ form_row(resetForm.plainPassword.first) }}
                                {{ form_row(resetForm.plainPassword.second) }}

                                <div class="text-center mt-4">
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">{% trans %}Confirmation{% endtrans %}</button>
                                </div>

                                {{ form_end(resetForm) }}
                            </div>

                            <div class="text-center">
                                <p class="mb-0">{% trans %}Vous avez déjà un compte ?{% endtrans %} <a href="{{ path('app_login') }}" class="text-white-50 fw-bold">{% trans %}Connectez-vous{% endtrans %}</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
