{% extends 'base.navbar.html.twig' %}

{% block title %}OGR - Reservation d'un matériel {% endblock %}

{% set current_menu = 'equipment' %}

{% block javascripts %}
    {{ parent() }}

<script>

    $(document).ready(function () {

        // Function that add new equipment reservation
        // Ajax requests
        function addReservation(event) {
            event.preventDefault();

            // send data
            $.ajax({
                url: this.href,
                type: 'POST',
                dataType: 'json',

                // Sending data: the start and end date get from the form
                data: {
                    startAt: '{{ equipmentReservation.startAt|date('Y-m-d H:i:s') }}',
                    endAt: '{{ equipmentReservation.endAt|date('Y-m-d H:i:s') }}',
                },
                success: function (data) {
                    // Remove the reservation from the table
                    $(event.target).closest('tr').remove();

                    // Display message to the user
                    if (data.success) {
                        document.getElementById('js-alert-danger-message').classList.add('d-none');

                        document.getElementById('js-alert-success-message').classList.remove('d-none');
                        document.getElementById('js-alert-success-message-body').innerHTML = data.success;
                    } else if (data.error) {
                        document.getElementById('js-alert-success-message').classList.add('d-none');

                        document.getElementById('js-alert-danger-message').classList.remove('d-none');
                        document.getElementById('js-alert-danger-message-body').innerHTML = data.error;
                    }

                },
                error: function (xhr) {
                    console.log('{% trans %}Impossible d\'ajouter une reservation pour l\'équipement sélectionné, code d\'erreur:{% endtrans %} ' + xhr.status);
                }
            });
        }

        // Retrieve when the user clicks on the "plus" button to add a new reservation
        document.querySelectorAll('a.js-add-reservation').forEach(function (element) {
            element.addEventListener('click', addReservation);
        });

    });

</script>

{% endblock %}

{% block content %}

    <!-- contenu de notre page -->
    <main class="d-flex flex-grow-1 align-items-stretch">
        <div class="container-fluid">

            <!-- Affichage des messages de success et erreurs-->
            <div id="js-alert-success-message"
                 class="alert alert-success d-flex align-items-center position-absolute start-50 translate-middle-x mt-2 d-none"
                 role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>
                <div id="js-alert-success-message-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 ms-2 m-auto" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>

            <div id="js-alert-danger-message"
                 class="alert d-flex align-items-center position-absolute start-50 translate-middle-x mt-2 d-none"
                 role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div id="js-alert-danger-message-body"></div>
                <button type="button" class="btn-close btn-close-white me-2 ms-2 m-auto" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>

            <div class="row g-4 py-3 align-items-stretch">

                <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 align-self-center">

                    <div class="border rounded shadow-sm py-2 px-3 text-dark">
                        <p class="h3 px-4 py-2"> <strong>{% trans %}Matériels{% endtrans %}</strong> </p>

                        <!-- Formulaire pour ajouter une réservation à une salle -->
                        {{ form_start(chooseEquipmentReservationForm) }}

                            <!-- Infos demandé pour créer une réservation -->
                            {{ form_row(chooseEquipmentReservationForm.location) }}

                            {{ form_row(chooseEquipmentReservationForm.type) }}

                            <!-- Input pour selectionner un(e) date/horaire-->
                            {{ form_row(chooseEquipmentReservationForm.startAt) }}
                            {{ form_row(chooseEquipmentReservationForm.endAt) }}

                            <!-- validation du form -->
                            <div class="text-center">
                                {{ form_widget(chooseEquipmentReservationForm.save) }}
                            </div>

                        {{ form_end(chooseEquipmentReservationForm) }}
                    </div>
                </div>

                <div class="col align-self-center">
                    <div class="border rounded shadow-sm py-2 px-4 text-dark">

                        <p class="h3 px-4 py-2"> <strong>{% trans %}Disponibilités{% endtrans %}</strong> </p>

                        <!-- Affichage des Disponibilité -->
                        <!-- overflow, Classe CSS custom ICI -->
                        <div class="overflow-tabs">

                            <table class="js-table table table-striped text-center">

                                <thead class="table-dark">
                                <tr>
                                    <th>{% trans %}Nom{% endtrans %}</th>
                                    <th>{% trans %}Localisation{% endtrans %}</th>
                                    <th>{% trans %}Type{% endtrans %}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>

                                {% if not availableEquipmentReservations %}
                                    <!-- Empty table if no reservation is available -->
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <h4>{% trans %}Aucune réservation disponible{% endtrans %}</h4>
                                            <p>{% trans %}Faites une recherche ou changez la date de votre recherche!{% endtrans %}</p>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% for equipment in availableEquipmentReservations %}
                                    <tr>
                                        <td>{{ equipment.name }}</td>
                                        <td>{{ equipment.location }}</td>
                                        <td>{{ equipment.type }}</td>
                                        <td>
                                            <a href="{{ path('app_equipment_add_reservation', {'id': equipment.id }) }}"
                                               class="js-add-reservation btn btn-primary">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
