{% extends 'base.navbar.html.twig' %}

{% block calendar %}

    {#    Pour afficher le calendrier #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"
            integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"
          integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                events: {{ meetingRoomReservations|raw }},
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                locale: 'fr',
                nowIndicator: true,
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour',
                    list: 'Liste',
                },
                timeZone: 'Europe/Paris',
                businessHours: true, // display business hours
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                eventResizableFromStart: true,
                editable: true,
            });
            calendar.render();
        });
    </script>

{% endblock %}

{% block title %}OGR - Reservation d'une salle {% endblock %}

{% block content %}

    <main class="d-flex flex-grow-1 align-items-stretch">
        <div class="container-fluid">
            <div class="row g-4 py-3 align-items-stretch">

                <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 align-self-center">

                    <!-- Affichage des messages de success et erreurs-->

                    {% for flashSuccess in app.flashes('reservation_meeting_room_success') %}
                        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
                    {% endfor %}

                    {% for flashError in app.flashes('reservation_meeting_room_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    <div class="border rounded shadow-sm py-2 px-3 text-dark">

                        <p class="h3 px-4 py-1"><strong>{% trans %}Salle{% endtrans %}</strong></p>

                        <!-- Formulaire pour récupérer la salle de réunion et afficher les réservations -->
                        {{ form_start(chooseMeetingRoom) }}

                            <!-- selection de la salle-->
                            {{ form_row(chooseMeetingRoom.meetingRoom) }}

                            <div class="text-center">
                                {{ form_widget(chooseMeetingRoom.save) }}
                            </div>

                        {{ form_end(chooseMeetingRoom) }}

                        <hr>

                        <!-- Formulaire pour ajouter une réservation à une salle -->
                        {{ form_start(meetingRoomReservationForm) }}

                            <!-- Infos demandé pour créer une réservation -->
                            {{ form_row(meetingRoomReservationForm.title) }}

                            {{ form_row(meetingRoomReservationForm.description) }}

                            {{ form_row(meetingRoomReservationForm.meetingRoom) }}

                            <!-- Input pour selectionner un(e) date/horaire-->
                            {{ form_row(meetingRoomReservationForm.startAt) }}
                            {{ form_row(meetingRoomReservationForm.endAt) }}

                            <!-- validation du form -->
                            <div class="text-center">
                                {{ form_widget(meetingRoomReservationForm.save) }}
                            </div>

                        {{ form_end(meetingRoomReservationForm) }}

                    </div>
                </div>

                <div class="col">
                    <div class="border rounded shadow-sm py-2 px-4 text-dark">

                        <p class="h3 px-4 py-2"><strong>{% trans %}Disponibilités{% endtrans %}</strong></p>

                        <!-- Affichage des Disponibilité -->
                        <!-- overflow, Classe CSS custom ICI -->
                        <div id="calendar" class="overflow-custom">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
