{% extends 'base.navbar.html.twig' %}

{% block calendar %}

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">

    <script>

        document.addEventListener('DOMContentLoaded', function() {

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                events: {{ meetingRoomReservations|raw }},
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                locale: 'fr',
                nowIndicator: true,
                buttonText: {
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    day: 'Jour',
                    list: 'Liste',
                },
                timeZone: 'Europe/Paris',
                businessHours: true, // display business hours
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                eventResizableFromStart: true,
                editable: true,
            });
            calendar.render();
        });
    </script>

{% endblock %}

{% block title %}OGR - Reservation d'une salle {% endblock %}

{% block content %}
    <main class="d-flex flex-grow-1 align-items-stretch">
        <div class="container-fluid">
            <div class="row g-4 py-3 align-items-stretch">

                <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 align-self-center">
                    <div class="border rounded shadow-sm py-2 px-3 text-dark">

                        <h2 class="px-4 py-2"> <strong>{% trans %}Salle{% endtrans %}</strong> </h2>

                        {{ form_start(chooseMeetingRoom) }}
                            <!-- selection de la salle-->
                            <label for="selectedRoom" class="form-label small mb-1">{% trans %}Selection de la salle{% endtrans %}</label>
                            {{ form_widget(chooseMeetingRoom.meetingRoom) }}

                            <div class="pt-2 pb-2 text-center">
                                {{ form_widget(chooseMeetingRoom.save) }}
                            </div>

                        {{ form_end(chooseMeetingRoom) }}

                            <hr>

                        <form>
                            <!-- Input pour rechercher des horaires-->
                            <label class="small mb-1 mt-0" for="startDate">{% trans %}Date de début{% endtrans %}</label>
                            <input class="form-control" id="startDate" type="date" placeholder="Selectionner la date de début" value="">

                            <label class="small mb-1" for="startHour">{% trans %}Heure de début{% endtrans %}</label>
                            <input class="form-control" id="startHour" type="time" placeholder="Selectionner l'heure de début" value="">

                            <label class="small mb-1" for="endDate">{% trans %}Date de fin{% endtrans %}</label>
                            <input class="form-control" id="endDate" type="date" placeholder="Selectionner l'heure de fin" value="">

                            <label class="small mb-1" for="endHour">{% trans %}Heure de fin{% endtrans %}</label>
                            <input class="form-control" id="endHour" type="time" placeholder="Selectionner l'heure de fin" value="">

                            <!-- validation du form -->
                            <div class="pt-5 pb-2 text-center">
                                <button class="btn btn-primary" type="button">{% trans %}Réserver{% endtrans %}</button>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="col">
                    <div class="border rounded shadow-sm py-2 px-4 text-dark">

                        <h2 class="px-4 py-2"> <strong>{% trans %}Disponibilité{% endtrans %}</strong> </h2>

                        <!-- Affichage des Disponibilité -->
                        <!-- overflow, Classe CSS custom ICI -->
                        <div id="calendar" class="overflow-custom">

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
