<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Barre de navigation !{% endblock %}</title>

    {#  TODO: Changer l'icon du site #}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block calendar %}

    {% endblock %}

</head>

<body>

<div class="min-vh-100 bg-light d-flex flex-column">

    {# navbar du site #}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
            <div class="container">

                <!-- Mettre Logo du site -->
                <a class="navbar-brand" href="{{ path('app_home') }}">OGR</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        {# TODO: Mettre le chemin vers les template du site #}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('metting_room') }}">{% trans %}Salle{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans %}Bureau{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans %}Matériel{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans %}Mes réservation{% endtrans %}</a>
                        </li>
                        <!-- seulement visible par le groupe admin -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">{% trans %}Administration{% endtrans %}</a>
                        </li>

                    </ul>

                    <div class="dropdown">
                        <a href="#" class="link-light text-decoration-none dropdown-toggle" id="dropUserMenu"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle h4"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropUserMenu">
                            <li><a class="dropdown-item" href="{{ path('user_profile') }}">{% trans %}Profile{% endtrans %}</a></li>

                            {# TODO: Mettre le chemin vers la template notifications utilisateur#}
                            <li><a class="dropdown-item" href="#">{% trans %}Notifications{% endtrans %}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    {# contenu de notre page, ne pas oublié de mettre les balises <main> ! #}
    {% block content %}{% endblock %}

</div>

</body>

</html>
