<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/svg" href={{ asset('build/images/favicon.svg') }} />

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    {% endblock %}

</head>

<body>

<div class="min-vh-100 bg-light d-flex flex-column">

    {# navbar du site #}
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
            <div class="container">

                <!-- Mettre Logo du site -->
                <a class="navbar-brand" href="{{ path('app_home') }}">OGR</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMenu">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'meeting_room' %}active{% endif %}"
                               href="{{ path('app_meeting_room') }}">{% trans %}Salle{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'office' %}active{% endif %}"
                               href="{{ path('app_office') }}">{% trans %}Bureau{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'equipment' %}active{% endif %}"
                               href="{{ path('app_equipment') }}">{% trans %}Matériel{% endtrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if current_menu is defined and current_menu == 'reservations' %}active{% endif %}"
                               href="{{ path('app_reservation') }}">{% trans %}Mes réservations{% endtrans %}</a>
                        </li>

                        <!-- seulement visible par le groupe admin -->
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin') }}">{% trans %}Administration{% endtrans %}</a>
                            </li>
                        {% endif %}

                    </ul>

                    <!-- selection de la langue d'Affichage -->
                    <div class="dropdown me-lg-4 p-lg-2 pt-2 pb-2">
                        <a href="#" class="link-light text-decoration-none dropdown-toggle" id="dropLangMenu"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {% trans %}Langage{% endtrans %}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                            aria-labelledby="dropLangMenu">
                            <li><a class="dropdown-item {% if app.request.get('_locale') == 'fr' %} active {% endif %}"
                                   href={{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}>
                                    <span class="fi fi-fr"></span> Français</a></li>

                            <li><a class="dropdown-item {% if app.request.get('_locale') == 'en' %} active {% endif %}"
                                   href={{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}>
                                    <span class="fi fi-us"></span> English</a></li>
                        </ul>
                    </div>

                    <div class="dropdown p-lg-2 pt-2 pb-2">
                        <a href="#" class="link-light text-decoration-none dropdown-toggle" id="dropUserMenu"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-circle h4"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropUserMenu">
                            <li><a class="dropdown-item" href="{{ path('user_profile') }}">{% trans %}Profile{% endtrans %}</a></li>

{#                            <li><a class="dropdown-item" href="#">{% trans %}Notifications{% endtrans %}</a></li>#}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    {# contenu de notre page, ne pas oublié de mettre les balises <main> ! #}
    {% block content %}{% endblock %}

</div>

</body>

</html>
