{% extends 'base.html.twig' %}

{% block title %}OGR - Reservation d'une salle {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"
          integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#        Pour afficher le calendrier #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"
            integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>

    <script>

        let $calendar;
        // We display the calendar for the user
        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');
            $calendar = new FullCalendar.Calendar(calendarEl, {

                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                locale: '{{ app.request.get('_locale') }}',
                nowIndicator: true,
                buttonText: {
                    today: '{% trans %}Aujourd\'hui{% endtrans %}',
                    month: '{% trans %}Mois{% endtrans %}',
                    week: '{% trans %}Semaine{% endtrans %}',
                    day: '{% trans %}Jour{% endtrans %}',
                    list: '{% trans %}Liste{% endtrans %}',
                },
                timeZone: 'Europe/Paris',
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                slotMinTime: '{{ app.request.server.get('WORKING_HOURS_START') }}:00:00',
                slotMaxTime: '{{ app.request.server.get('WORKING_HOURS_END') + 1 }}:00:00', // Need to add +1 to the end of the working hours
                allDaySlot: false, // We don't want to display the all day slot
                firstDay: 1, // We start on Monday
                weekends: false, // We don't want to display the weekend
                expandRows: true,
            });
            $calendar.render();
        });

        // Dynamically change the calendar view
        $(document).ready(function () {

            function updateMeetingRoomReservation($meetingRoom) {
                //get all reservation for the selected meeting room and display them to the calendar
                $.ajax({
                    url: '{{ path('app_meeting_room_reservation', {id: '_idMeetingRoom_', startDate: '_activeStart_', endDate: '_activeEnd_'})|escape('js') }}'
                        .replace('_idMeetingRoom_', $meetingRoom)
                        .replace('_activeStart_', $calendar.view.activeStart.toISOString())
                        .replace('_activeEnd_', $calendar.view.activeEnd.toISOString()),
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $calendar.removeAllEvents();
                        $calendar.addEventSource(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            // // On load, we display the reservations for the meeting room selected
            updateMeetingRoomReservation($('.js-selected-meeting-room :selected').attr('value'));

            // Retrieve when the user clicks on button to change the view of the calendar
            document.querySelectorAll('.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-prev-button, .fc-next-button, .fc-today-button')
                .forEach(function (element) {
                    element.addEventListener('click', function () {
                        updateMeetingRoomReservation($('.js-selected-meeting-room :selected').attr('value'));
                    });
                });

            // When the user select a room in the select box, we get all reservations for this room and update the calendar
            $('.js-selected-meeting-room').on("change", function () {
                    const $roomSelected = $("option:selected").attr('value');
                    updateMeetingRoomReservation($roomSelected);
                }
            );
        });
    </script>

{% endblock %}

{% set current_menu = 'meeting_room' %}

{% block body %}

    {% include '_navbar.html.twig' %}

    <main>
        <div class="d-flex flex-grow-1 align-items-stretch">
            <div class="container-fluid">

                <!-- Affichage des messages de success et erreurs-->
                {% for flashSuccess in app.flashes('reservation_meeting_room_success') %}
                    <div class="alert alert-success d-flex align-items-center position-absolute start-50 translate-middle-x mt-2"
                         role="alert">
                        <i class="bi bi-check-circle-fill me-2"></i>
                        <div>
                            {{ flashSuccess }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 ms-2 m-auto" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}

                {% for flashError in app.flashes('reservation_meeting_room_error') %}
                    <div class="alert alert-danger d-flex align-items-center position-absolute start-50 translate-middle-x mt-2"
                         role="alert">
                        <i class="bi bi-exclamation-triangle-fill me-2"></i>
                        <div>
                            {{ flashError }}
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 ms-2 m-auto" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}

                <div class="row g-4 py-3 align-items-stretch">

                    <div class="col-12 col-xxl-3 col-xl-4 col-lg-4 align-self-center">
                        <div class="border rounded shadow-sm py-2 px-3 text-dark">

                            <p class="h3 px-4 py-2"><strong>{% trans %}Salle{% endtrans %}</strong></p>

                            <!-- Formulaire pour ajouter une réservation à une salle -->
                            {{ form_start(meetingRoomReservationForm) }}

                            {{ form_row(meetingRoomReservationForm.meetingRoom, { 'attr': { 'class': 'js-selected-meeting-room' } }) }}

                            <hr>

                            <!-- Infos demandé pour créer une réservation -->
                            {{ form_row(meetingRoomReservationForm.title) }}

                            {{ form_row(meetingRoomReservationForm.description) }}

                            <!-- Input pour selectionner un(e) date/horaire-->
                            {{ form_row(meetingRoomReservationForm.startAt) }}
                            {{ form_row(meetingRoomReservationForm.endAt) }}

                            <!-- validation du form -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">{% trans %}Réserver{% endtrans %}</button>
                            </div>

                            {{ form_end(meetingRoomReservationForm) }}

                        </div>
                    </div>

                    <div class="col">
                        <div class="border rounded shadow-sm py-2 px-4 text-dark">

                            <h3 class="px-4 py-2"><strong>{% trans %}Disponibilités{% endtrans %}</strong></h3>

                            <!-- Affichage des Disponibilité -->
                            <!-- overflow, Classe CSS custom ICI -->
                            <div id="calendar" class="overflow-calendar">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
