{% extends 'base.navbar.html.twig' %}

{% block title %}OGR - Paramètres du profile{% endblock %}

{% block content %}

    {% for flashError in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="container-xl px-4 mt-4" style="max-width: 900px;">

        <nav class="nav nav-tabs">
            <li><a class="nav-link active ms-0 " href="{{ path('user_profile') }}">{% trans %}Profile{% endtrans %}</a></li>
            <li><a class="nav-link text-dark " href="{{ path('user_profile') }}">{% trans %}Notifications{% endtrans %}</a></li>
        </nav>

        <div class="row mt-4">
            <div class="col-xl-12">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">{% trans %}Détails du compte{% endtrans %}</div>
                    <div class="card-body">

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="lastname">{% trans %}Nom{% endtrans %}</label>
                                    <input disabled class="form-control" id="lastname" type="text" placeholder="{% trans %}Nom{% endtrans %}" value="{{ user.lastname }}">
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="firstname">{% trans %}Prénom{% endtrans %}</label>
                                    <input disabled class="form-control" id="firstname" type="text" placeholder="{% trans %}Prénom{% endtrans %}" value="{{ user.firstname }}">
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="email">{% trans %}Email{% endtrans %}</label>
                                    <input disabled class="form-control" id="email" type="text" placeholder="{% trans %}Email{% endtrans %}" value="{{ user.email }}">
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="localisation">{% trans %}Localisation{% endtrans %}</label>
                                    <input disabled class="form-control" id="localisation" type="text" placeholder="{% trans %}Localisation{% endtrans %}" value="">
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">{% trans %}Changement de mot de passe{% endtrans %}</div>
                    <div class="card-body">
                        {{ form_start(passwordForm) }}
                            <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1">{% trans %}Nouveau mot de passe{% endtrans %}</label>
                                    {{ form_widget(passwordForm.plainPassword.first) }}
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1">{% trans %}Retapez le nouveau mot de passe{% endtrans %}</label>
                                    {{ form_widget(passwordForm.plainPassword.second) }}
                                </div>
                            </div>

                            <div class="text-center">
                                <button class="btn btn-danger" type="submit">{% trans %}Changer le mot de passe{% endtrans %}</button>
                            </div>
                        {{ form_end(passwordForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
